body,
html {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}
.public-route {
}
:root {
	--primary: #fb6f92;
	--secondary: #02394a;
	--heightNav: 70px;
	--letter: #67697d;
	--letterInput: #959595;
	--borderinput: #ced4da;
	--letterModeDark: #959595;
	--sizeInput: 3rem;
	--border: #e8e8e8;
	--gray50: #c5c5c5;
	--gray10: #e2e2e2;
	--themeMode: dark;
}
* {
	list-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	font-family: 'IBMPlexSans-Medium';
	border: 0;
	font-size: 14px;
	text-decoration: none;
}
// #body {
// 	width: 100%;
// 	height: 100vh;
// 	overflow: hidden;
// 	#root {
// 		height: 100%;
// 		overflow-y: scroll;
// 		position: relative;
// 		z-index: 1;
// 	}
// }
#screen {
	width: 100%;
	max-height: 100vh;
	min-height: 100vh;
	z-index: 0;
	position: absolute;
}
#root {
	position: relative;
	z-index: 1;
}
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean,
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean,
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
	transform: translateY(2px);
}
.rs-picker-menu {
	z-index: 2;
}
.smooth-scrolling {
	scroll-behavior: smooth;
}
.scrollHidden {
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 0px; /* Tamaño del scroll en vertical */
		height: 0px; /* Tamaño del scroll en horizontal */
	}
}
.border {
	text-decoration: none;
}
.scroll {
	overflow-y: scroll;
	&::-webkit-scrollbar-thumb {
		background-color: var(--primary);
		opacity: 0.5;
		border-radius: 4px;
		position: fixed;
	}

	&::-webkit-scrollbar {
		width: 4px; /* Tamaño del scroll en vertical */
		height: 0px; /* Tamaño del scroll en horizontal */
	}
}
// style position
.container {
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 100%;
	@media (min-width: 800px) {
		max-width: 800px;
	}
	@media (min-width: 1000px) {
		max-width: 980px;
	}
	@media (min-width: 1200px) {
		max-width: 1180px;
	}
	@media (min-width: 1400px) {
		max-width: 1380px;
	}
	@media (min-width: 1600px) {
		max-width: 1580px;
	}
}
// end style
// slick react slider
.slick-track {
	display: flex;
}
.slick-list {
	overflow: hidden;
}
.slick-slide {
	display: flex;
}
.slick-slide > div {
	width: 100%;
	display: flex;
	.expand-img {
		display: flex;
	}
}
a:hover,
a:focus {
	text-decoration: none !important;
}
.slick-disabled {
	display: none !important;
}
// atributos de texto html
.paragraph {
	color: var(--letterModeDark);
}

@media (prefers-color-scheme: dark) {
	.paragraph {
		color: var(--letterModeDark);
	}
}

//
.dragged-sortableElement {
	.draggable {
		width: 100%;
		.name {
		}
	}
	.actions {
		display: flex;
		align-items: center;
		width: 4.5rem;
	}
}
.dragged {
	z-index: 2;
	background-color: white;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	padding: 1rem;
	box-shadow: 0px 0px 10px 0px rgb(206, 228, 228);
	.draggable {
		display: flex;
		align-items: center;
	}
	.icon {
		opacity: 0;
	}
	.name {
		min-width: 14rem;
	}
	.type {
		min-width: 5rem;
	}
}
.input-radio-visor {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.input-radio-visor:checked ~ label {
	color: var(--info);
}
